@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #f8d2f1;
}

/* Topo roxo */
.top {
    background: #8531ec;
    padding: 60px 20px;
    text-align: center;
}

.title {
    color: #ffde33;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    text-shadow: 0 0 8px rgba(255, 214, 0, 0.8);
}

.subtitle {
    color: #ffd987;
    font-size: 18px;
    margin-top: 10px;
}

/* Caixa central */
.container {
    padding: 30px;
}

label {
    font-size: 14px;
    color: #454545;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    border: 2px solid #b155ff;
    margin-bottom: 18px;
    font-size: 16px;
    outline: none;
    background: white;
}

input:focus {
    border-color: #7f2aff;
}

/* Links */
.links {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links a {
    color: #7f30ff;
    text-decoration: underline;
    font-size: 16px;
}

/* Botão */
.btn {
    width: 100%;
    background: #8a2fff;
    padding: 16px;
    border: none;
    border-radius: 12px;
    color: yellow;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #7a1fee;
}
